@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 224 71% 4%;
    --card: 240 5% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 240 5% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 195 100% 45%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 88%;
    --muted-foreground: 240 4% 46%;
    --accent: 147 50% 35%;
    --accent-foreground: 356 100% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 195 100% 45%;
    --chart-1: 195 100% 45%;
    --chart-2: 147 50% 35%;
    --chart-3: 30 90% 50%;
    --chart-4: 280 80% 55%;
    --chart-5: 0 84% 60%;
    --radius: 0.5rem;

    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 240 5% 95%;
    --sidebar-primary: 195 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 240 5% 95%;
    --sidebar-border: 240 5% 20%;
    --sidebar-ring: 195 100% 50%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 100% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 147 50% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 195 100% 50%;
    
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 240 5% 95%;
    --sidebar-primary: 195 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 240 5% 95%;
    --sidebar-border: 240 5% 20%;
    --sidebar-ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
